.mainHello{
    position: relative;
    display: block;
    width: 100%;
    height: fit-content;
    min-height: 100%;
    padding-top: 40px;
}
.gridHello{
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.leftHello, .rightHello{
    position: relative;
    width: 100%;
    height: min-content;
    text-align: left;
}

.rightHello {
    background-color: red;
    height: 100%;
}

.leftHello h4{
    position: relative;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.leftHello h1 {
    /* font-family: Lato; */
    position: relative;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 25px;
}

.leftHello h1 span{
    color: var(--secondaryTextColor);
}

.leftHello h5{
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 100px;
    text-align: justify;
    letter-spacing: 1.2px;
}

.infoBlock{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 200px; */
    width: 100%;
    /* height: fit-content; */
    /* min-height: 100px; TIRAR */
    /* background-color: pink; */
}

.infoBlock h4,
.infoBlock h4{
    position: relative;
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.displayerSocial, .displayerSkills{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: start;
    gap: 10px;
}