.mainContact {
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 400px;
    display: grid;
    
    grid-template-columns: 1fr .7fr;
    grid-gap: 70px;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: rgb(255, 230, 255);
    text-align: left;
    margin-top: 150px;
}

.backgroundContact{
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(30, 30, 31);
}

.blockTextContact{
    position: relative;
    width: 100%;
    height: fit-content;
}

.blockTextContact h3{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .18em;
    color: var(--mainColor);
}

.blockTextContact h2{
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .15em;
    margin-bottom: 30px;
    color: var(--mainColor);
}

.blockTextContact p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .12em;
    color: var(--mainColor);
    line-height: 25px;
}

.blockCardContact{
    position: relative;
    width: 100%;
    height: 100%;
}

.cardContact{
    position: absolute;
    width: 100%;
    max-width: 500px;
    height: fit-content;
    min-height: 200px;
    left: 50%;
    top: 0;
    transform: translate(-50%, -40%);
    border-radius: 4px;
    box-shadow: var(--mainBoxShadow);
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 15px 20px;
    -moz-box-shadow:
        var(--mainBoxShadow),
        inset 2px 2px 8px 0px rgba(81, 81, 81, 0.1);
    -webkit-box-shadow:
        var(--mainBoxShadow),
        inset 2px 2px 8px 0px rgba(81, 81, 81, 0.1);
    box-shadow:
        var(--mainBoxShadow),
        inset 2px 2px 8px 0px rgba(81, 81, 81, 0.1);
}

.circlePhotoContact{
    position: relative;
    width: 30%;
    padding-top: 30%;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--secondaryTextColor);
    -moz-box-shadow:
        var(--mainBoxShadow),
        inset 2px 2px 8px 0px rgba(59, 59, 59, 0.2);
    -webkit-box-shadow:
        var(--mainBoxShadow),
        inset 2px 2px 8px 0px rgba(59, 59, 59, 0.2);
    box-shadow:
        var(--mainBoxShadow),
        inset 2px 2px 8px 0px rgba(59, 59, 59, 0.2);
}

.circlePhotoContact img{
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    height: 110%;
    width: auto;
}

.nameContact{
    cursor: pointer;
    text-decoration: none;
}

.nameContact h2{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .18em;
    text-transform: uppercase;
    padding: 5px 40px;
    margin-top: 10%;
    background-color: var(--secondaryTextColor);
    color: rgb(0, 0, 0);
    border-radius: 2px;
}

.emailContact{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1em;
}

@media screen and (max-width: 1200px) {
    .mainContact {
        grid-template-columns: 1fr;
    }

    .blockTextContact {
        grid-row: 2;
    }

    .blockCardContact {
        grid-row: 1;
        min-height: 190px;
    }
}

@media screen and (max-width: 490px) {
    .blockTextContact h3 {
            font-size: 12px;
        }
    .blockTextContact h2 {
        font-size: 30px;
    }
}