.mainNavbar{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    height: 60px;
    left: 0;
    top:0;
    padding: var(--mainPadding);
    background-color: var(--mainColor);
    box-shadow: var(--secondaryShadow);
    z-index: 100;
}

.blocoLogo{
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 0;
    margin-right: auto;
    overflow: hidden;
}

.blocoLogo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
}

.blocoButtons{
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.blocoButtons h4{
    position: relative;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
}


@media screen and (max-width: 650px) {
    .blocoButtons {
        gap: 30px;
    }

    .blocoButtons h4 {
        font-size: 12px;
    }
}

@media screen and (max-width: 490px) {
    .blocoLogo {
        width: 24px;
        height: 24px;
    }

    .blocoButtons {
        gap: 18px;
    }

    .blocoButtons h4 {
        font-size: 11px;
    }
}