.mainPortfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
    height: fit-content;
    min-height: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    /* background-color: rgb(255, 230, 255); */
    text-align: left;
}

.titleBlockPorfolio {
    position: relative;
    display: block;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    /* padding-left: 20px; */
    letter-spacing: .3em;
    color: var(--thirdTextColor);
    margin-bottom: -35px;
}